.banner{
    height: 400px;
    background-image: url('../../../images/banner/banner1\,png.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-contain{
    padding: 100px 0 0 80px;
    color:goldenrod;
}
.banner-btn{
    border: 1px solid goldenrod;
    border-radius: 0.5px;
    color: white;
    
}
.banner-btn:hover{
    color: goldenrod;
}

.banner-btn a{
   
    color: white;
    
}
.banner-btn a:hover{
    color: goldenrod;
}